<footer>
        <footer>
      <section class="footercontent">
        <div id="grid7">
          <ul>
            <li><a href=""><img src="/img/twitter.png"></a></li>
            <li><a href=""><img src="/img/facebook.png"></a></li>
            <li><a href=""><img src="/img/instagram.png"></a></li>
          </ul>
        </div>
        <div id="grid5">
          <h3>LOCATIONS</h3>
          <h3>HOURS</h3>
        </div>
        <div id="grid6">
          <ul>
            <li class="italic">Brooklyn</li>
            <li>376 Fake Street Brooklyn, NY — 11231</li>
            <li>(999) 999-9999</li>
          </ul>
          <ul>
            <li class="italic">Queens</li>
            <li>47-33 Fake Street Long Island City, NY — 11101</li>
            <li>(999) 999-9999</li>
          </ul>
          <ul>
            <li class="italic">Food Truck</li>
            <li>47-33 Fake Street Long Island City, NY — 11101</li>
            <li>(999) 999-9999</li>
          </ul>
          <ul id="time">
            <li class="italic">Monday — Thursday</li>
            <li>8am — 11pm</li>
            <li class="italic">Friday — Sunday</li> 
            <li>11am — 11pm</li>
          </ul>
        </div>
        <p id="final">Powered by DUC TRONG PHAM</p>
      </section>
    </footer>