<div id="contentcontainer">
    <section id="information">
        <h1>Information</h1>
        <p>Airbnb is an online marketplace that connects people who want to rent out their homes with people who are looking for accommodations in that locale. It currently covers more than 81,000 cities and 191 countries worldwide.</p>    
    </section>
    <section id="promotion">
        <h1>Promotion</h1>
        <img src="/img/promotion1.jpg">
    </section>
</div>